<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/modern-business.css') }}"  rel="stylesheet">
       
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ path('homepage') }}">MY SONGS APP</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('about') }}">About</a>
          </li>
          
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Carta
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="{{ path('carta',{ 'numCarta':'carta1'}) }}">carta 1</a>
              <a class="dropdown-item" href="{{ path('carta',{ 'numCarta':'carta2'}) }}">carta 2</a>
              <a class="dropdown-item" href="{{ path('carta',{ 'numCarta':'carta3'}) }}">carta 3</a>
             
              
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menus
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="{{ path('menus',{ 'numMenu':'menu1'}) }}">menu 1</a>
              <a class="dropdown-item" href="{{ path('menus',{ 'numMenu':'menu2'}) }}">menu 2</a>
              <a class="dropdown-item" href="{{ path('menus',{ 'numMenu':'menu3'}) }}">menu 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('contact') }}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reservas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

        {% block body %}{% endblock %}
         <!-- Bootstrap core JavaScript -->
            <script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
