{% extends 'base.html.twig' %}

{# title #}
{% block title %} SONGS APP {% endblock %}

{% block body %}
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url({{ asset('images/slide01.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{ asset('images/slide03.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url({{ asset('images/slide02.jpg') }})">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>
  
  <!-- Page Content -->
  <div class="container">
  <div class="">
    <h1 class="my-4 d-inline">Favorite songs</h1>
          <span class="float-lg-right p-2">
          Search<input class="" type="text" id="searchInput" name="searchName">
          </span>
    </div>

    <div class="row continer">
          <div class="col-md-8 m-3">
          <span class="">
          Number of songs per page<input type="text" id="numSongsDisplay" name="songsPage">
          </span>
          
          </div>
      </div>

    <div class="row">

    {# loop through songs in DB #}
     {% for track in songs %}

        <div class="col-lg-4 col-sm-6 portfolio-item">
              <div class="card h-100">
               
                    <IFRAME  SRC="https://www.youtube.com/embed/{{track.url}}" FRAMEBORDER="0" ALLOWFULLSCREEN></IFRAME>
          
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="{{ path('songSelected',{'id':track.id}) }}"> {{track.trackName}}</a>
                  </h4>
                  <p class="card-text">{{ track.description }}</p>                  
                 
                </div>
                <span class="pl-2 pb-2 ">
                  <a href="{{ path('deletesong',{'id':track.id}) }}"> Delete |</a>
                  <a href="{{ path('addsong',{'id':track.id}) }}"> Edit</a>
                  </span>
              </div>
                 
        </div>

  {% endfor %}
      
     
    </div>
    <!-- /.row -->
     <!-- Pagination -->
    <ul class="pagination justify-content-center">

     {% if currentPage >1 %}
      <li class="page-item">
        <a class="page-link" href="{{path('homepage', {pageNum: (currentPage-1) < 1? 1 :  currentPage-1 } )}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      {% for i in 1.. numMaxSongs %}
      <li class="page-item">
        <a class="page-link" href="{{ path('homepage', {pageNum:i}) }}">{{i}}</a>
      </li>
      {% endfor %}


      {% if currentPage < numMaxSongs %}
      <li class="page-item">
        <a class="page-link" href="{{path('homepage', {pageNum: (currentPage + 1) <= numMaxSongs ? currentPage + 1 : currentPage  } )}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}

    </ul>

  </div>
  <!-- /.container -->

  </div>
{% endblock %}